<div class="container">
  <div class="mb-4">
    <h1>List of all events</h1>
  </div>

  <hr>

  <div class="mb-4">
    <div>
      <h2>Add a new event</h2>

      <%= form_for Event.new do |f| %>
        <div>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>

        <div>
          <%= f.label :venue_id %>
          <%= f.text_field :venue_id %>
        </div>

        <div>
          <%= f.label :description %>
          <%= f.text_area :description %>
        </div>

        <div>
          <%= f.label :date %>
          <%= f.datetime_local_field :date %>
        </div>

        <div>
          <%= f.label :price %>
          <%= f.number_field :price, step: "0.01", min: 0 %>
        </div>

        <div>
          <%= f.label :capacity %>
          <%= f.number_field :capacity, min: 1 %>
        </div>

        <%= f.submit "Create event", class: "button" %>
      <% end %>
    </div>
  </div>

  <hr>

  <div>
    <div>
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Venue</th>
          <th>Date</th>
          <th>Price</th>
          <th>Capacity</th>
          <th>Created</th>
          <th>Updated</th>
          <th>Actions</th>
        </tr>

        <% @list_of_events.each do |an_event| %>
        <tr>
          <td><%= an_event.id %></td>
          <td><%= an_event.name %></td>
          <td><%= an_event.venue.name %></td>
          <td><%= an_event.date.strftime("%B %d, %Y at %I:%M %p") %></td>
          <td>$<%= number_with_precision(an_event.price, precision: 2) %></td>
          <td>
            <%= an_event.capacity - an_event.orders.sum(:quantity) %> / <%= an_event.capacity %>
          </td>
          <td><%= time_ago_in_words(an_event.created_at) %> ago</td>
          <td><%= time_ago_in_words(an_event.updated_at) %> ago</td>
          <td>
            <%= link_to "Show details", event_path(an_event) %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
