<div class="container">
  <div class="mb-4">
    <h1>Event #<%= @the_event.id %> details</h1>

    <div class="nav-links">
      <%= link_to "Back to events", events_path %>
      <%= link_to "Delete event", event_path(@the_event), 
          method: :delete, 
          class: "text-red",
          data: { confirm: "Are you sure you want to delete this event?" } %>
    </div>
  </div>

  <div class="mb-4">
    <dl>
      <dt>Name</dt>
      <dd><%= @the_event.name %></dd>

      <dt>Venue</dt>
      <dd><%= @the_event.venue.name %></dd>

      <dt>Description</dt>
      <dd><%= @the_event.description %></dd>

      <dt>Date</dt>
      <dd><%= @the_event.date.strftime("%B %d, %Y at %I:%M %p") %></dd>

      <dt>Price</dt>
      <dd>$<%= number_with_precision(@the_event.price, precision: 2) %></dd>

      <dt>Capacity</dt>
      <dd><%= @the_event.capacity - @the_event.orders.sum(:quantity) %> tickets left out of <%= @the_event.capacity %></dd>

      <dt>Created</dt>
      <dd><%= time_ago_in_words(@the_event.created_at) %> ago</dd>

      <dt>Updated</dt>
      <dd><%= time_ago_in_words(@the_event.updated_at) %> ago</dd>
    </dl>
  </div>

  <hr>

  <div class="mb-4">
    <h2>Edit event</h2>

    <%= form_for @the_event do |f| %>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div>
        <%= f.label :venue_id %>
        <%= f.text_field :venue_id %>
      </div>

      <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>

      <div>
        <%= f.label :date %>
        <%= f.datetime_local_field :date %>
      </div>

      <div>
        <%= f.label :price %>
        <%= f.number_field :price, step: "0.01", min: 0 %>
      </div>

      <div>
        <%= f.label :capacity %>
        <%= f.number_field :capacity, min: 1 %>
      </div>

      <%= f.submit "Update event", class: "button" %>
    <% end %>
  </div>
</div>

<hr>
